.recipe {
  padding: 30px 18px;
  max-width: 440px;
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 300px 30px 300px 1fr;
  grid-row-gap: 40px;
  margin: 0 auto;
  grid-template-areas:
    "image"
    "buttons"
    "info"
    "ingredients";
}

/* замиксовала стили, чтобы добавлять к разным блокам <3 */
.recipe__box-shabow {
  padding: 14px 14px;
  border-radius: 12px;
  box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
}

.recipe__info {
  display: grid;
  gap: 15px;
  grid-area: info;
}

.recipe__img-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recipe__image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  justify-self: center;
  /* выравнивание картинки */
  object-fit: cover;
  object-position: center;
  grid-area: image;
}

.recipe__ingredients {
  padding: 0;
  margin: 0;
  list-style: none;
  grid-area: ingredients;
}

.recipe__ingredients-quantity {
  font-size: 13px;
  color: #7c8491;
  margin: 0;
  text-align: center;
  letter-spacing: 1.5px;
}

.recipe__ingreditent-container {
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  line-height: 1.6;
  grid-area: buttons;
}

.recipe__ingreditent-container:last-child {
  border-bottom: none;
}

.recipe__buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 15px;
  flex-wrap: wrap;
}

.recipe__buttons-container_flex-column {
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
}

.recipe__ingreditent-name {
  font-size: 18px;
  margin: 0;
}

.recipe__ingreditent-measure {
  font-size: 14px;
  color: #7c8491;
  margin: 0;
}

.recipe__icon-addtocart {
  width: 25px;
  height: 25px;
}

.recipe__icon-question {
  width: 35px;
  height: 35px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  opacity: 0.6;
}

.recipe__icon-dice {
  width: 30px;
  height: 30px;
  opacity: 0.7;
}

.recipe__icon-heart {
  width: 34px;
  height: 30px;
  opacity: 0.8;
}

.recipe__meal-name {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.recipe__button-yt {
  background-color: rgb(228, 119, 152);
  padding: 10px;
  border-radius: 7px;
  /* убрала немного ширину, так как сплющивало кнопки */
  height: 36px;
  font-size: 14px;
  color: white;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.recipe__instructions {
  max-width: 650px;
  text-align: start;
  line-height: 1.4;
  font-size: 16px;
  min-height: min-content;
  margin: 0;
}

.recipe__author {
  color: #7c8491;
  line-height: 1.4;
  font-size: 15px;
  margin: 0;
  letter-spacing: 1.5px;
  max-width: 200px;
  white-space: nowrap; /* предотвращает перенос строк */
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipe__author-link {
  text-decoration: none;
  font-size: 15px;
  color: #7c8491;
  letter-spacing: 0.5px;
}
.recipe__author-link:hover {
  color: rgb(233, 169, 86);
  transform: scale(1.1);
}

@media screen and (min-width: 600px) {
  .recipe {
    grid-template-columns: 400px;
  }
}

@media screen and (min-width: 700px) {
  .recipe {
    max-width: 100%;
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px 30px 300px 1fr;
    grid-column-gap: 30px;
  }

  .recipe__info {
    grid-template-rows: 1.1fr 2fr 1fr;
    grid-area: 3 / 1 / 4 / 2;
    grid-gap: 0;
  }

  .recipe__image {
    grid-area: 1 / 1 / 2 / 2;
  }

  .recipe__buttons-container {
    grid-area: 2 / 1 / 3 / 2;
  }

  .recipe__ingredients {
    grid-area: 1 / 2 / 5 / 3;
  }

  .recipe__instructions {
    grid-area: 1 / 2 / 5 / 3;
  }
}

@media screen and (min-width: 850px) {
  .recipe {
    grid-template-columns: 300px 400px;
    grid-column-gap: 70px;
  }
}
