.button {
    @include button-reset;
    @include button-hover;

    &_type {
        &_menu-open {
            width: 48px;
            height: 48px;
            background: url('../../images/menu-open.svg') center no-repeat;
            border-radius: $border-radius-small;
        }

        &_start {
            width: 100%;
            height: 67px;
            padding: 16px 24px;
            border-radius: $border-radius-large;
            border: 2px solid $color-button-primary;
            font-size: 14px;
            font-weight: 500;
            line-height: 150%;
            letter-spacing: 0.5px;

            @include button-active($color-button-primary);

            @media screen and (min-width: 720px) {
                width: 216px;
                font-size: 17px;
            }
        }

        &_back {
            padding: 20px 24px;
            border: 2px solid $color-button-primary;
            font-size: 17px;
            border-radius: $border-radius-large;
            font-weight: 500;

            @include button-active($color-button-primary);
        }

        &_signout {
            padding: 8px 16px;
            color: $color-white;
            font-size: 14px;
            background-color: $color-black;
            border-radius: $border-radius-medium;
            margin-left: 14px;

            @media screen and (max-width: 768px) {
                position: absolute;
                right: 50%;
                bottom: 30px;
                transform: translateX(50%);
                width: calc(100% - 70px);
                padding: 14px 0;
            }
        }

        &_login {
            height: 40px;
            margin: 15px 0 60px;
            padding: 10px 24px;
            color: $color-white;
            font-size: 16px;
            background-color: $color-button-gray;
            min-width: 140px;
            border-radius: $border-radius-small;
            font-weight: 300;
            line-height: 125%;
            letter-spacing: 0.5px;
            align-self: center;
        }

        &-addtocart {
            width: 20px;
            height: 20px;
        }
    }
}

// Recipe Specific Buttons
.recipe {
    &__button {
        width: 154px;
        padding: 10px;
        color: $color-white;
        font-size: 14px;
        background-color: $color-button-blue;
        border-radius: $border-radius-medium;

        @include button-active($color-button-blue-active);
    }

    &__dice-btn {
        height: 30px;
    }

    &__heart-btn {
        height: 30px;
        transition: all 0.2s ease-in-out;
    }
}
