.recipe {
  padding: 30px 18px;
  max-width: 440px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 270px 250px 1fr;
  grid-row-gap: 40px;
  /* padding: 30px 58px; */
  margin: 0 auto;
}
/* замиксовала стили, чтобы добавлять к разным блокам */
.recipe__box-shabow {
  padding: 30px 12px 30px;
  border-radius: 12px;
  box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
  box-sizing: border-box;
}

.recipe__info {
  display: grid;
  gap: 15px;
  /* min-height: 170px; */
  /* margin-bottom: 35px; */
}

.recipe__img-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recipe__image {
  /* width: 300px; */
  width: 100%;
  height: 100%;
  border-radius: 10px;
  justify-self: center;
  /* выравнивание картинки */
  object-fit: fill;
  object-position: center;
  /* margin: 30px 0 40px; */
}

.recipe__ingredients {
  padding: 0;
  margin: 0;
  list-style: none;
}

.recipe__ingredients-quantity {
  font-size: 16px;
  color: #7c8491;
  margin: 0;
  text-align: center;
}

.recipe__ingreditent-container {
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  line-height: 1.6;
}

.recipe__ingreditent-container:last-child {
  border-bottom: none;
}

.recipe__buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe__ingreditent-name {
  font-size: 20px;
  margin: 0;
}

.recipe__ingreditent-measure {
  font-size: 16px;
  color: #7c8491;
  margin: 0;
}

.recipe__icon-addtocart {
  width: 25px;
  height: 25px;
}

.recipe__icon-dice {
  width: 28px;
  height: 28px;
  opacity: 0.7;
}

.recipe__icon-heart {
  width: 30px;
  height: 30px;
  opacity: 0.8;
}

.recipe__meal-name {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 0;
}

.recipe__button-yt {
  background-color: rgb(228, 119, 152);
  padding: 10px;
  border-radius: 7px;
  /* убрала немного ширину, так как сплющивало кнопки */
  width: 120px;
  height: 36px;
  font-size: 14px;
  color: white;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.recipe__instructions {
  max-width: 350px;
  text-align: start;
  line-height: 1.4;
  font-size: 16px;
  min-height: min-content;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .recipe {
    max-width: 100%;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-template-rows: 270px 30px 270px 1fr;
    grid-column-gap: 70px;
  }

  .recipe__info {
    grid-area: 3 / 1 / 4 / 2;
  }

  .recipe__image {
    grid-area: 1 / 1 / 2 / 2;
  }

  .recipe__buttons-container {
    grid-area: 2 / 1 / 3 / 2;
  }

  .recipe__ingredients {
    /* grid-area: 1 / 2 / 4 / 3; */
    grid-area: 1 / 2 / 5 / 3;
  }

  .recipe__instructions {
    grid-area: 1 / 2 / 5 / 3;
  }
}
