.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 25px;
  padding: 40px;
  box-sizing: border-box;
}

.form__title {
  font-weight: 500;
  font-size: 25px;
}

.form__imput {
  margin: 0;
}
