.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 15px;
  padding: 40px;
  box-sizing: border-box;
}
.form__box{
 
  border: 0;
  width: 60%;
  padding: 0;
  margin: 0;
}

.form__title {
  font-weight: 500;
  font-size: 25px;
  margin: 0;
  padding: 0 0 20px;
}

.form__input {
  width: 30vh;
  margin: 0;
}
.form__inner{
  height: 35px;
}
