.form {
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: start;
  gap: 15px;
  padding: 40px;
  box-sizing: border-box;
}
.form__box {
  gap: 15px;
  border: 0;
  width: 50%;
  padding: 0;
  margin: 0;
}

.form__title {
  font-weight: 500;
  font-size: 25px;
  margin: 0;
  padding: 0 0 20px;
}

.form__box_inner {
  height: 80px;
  margin: 0;
}
