/*======================
    404 page
=======================*/
.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.page_404 img {
    width: 100%;
}

.page_404__four_zero_four_bg {
    background-image: url('../../images/404-page-gif.gif');
    height: 400px;
    background-position: center;
    background-size: inherit;
    background-repeat: no-repeat;
}

.page_404__heading {
    font-family: 'MakiSans-Regular';
    font-size: 60px;
    font-weight: 700;
    white-space: pre-line;
    line-height: 110.345%;
    letter-spacing: 2.9px;
    padding: 0;
    padding-bottom: 300px;
    margin: 0;
}

.page_404__description {
    font-family: 'Cruinn', sans-serif;
    font-weight: 300;
    white-space: pre-line;
    line-height: 110.345%;
    letter-spacing: 2.9px;
    font-size: 30px;
    padding: 0 0 60px;
    margin: 0;
}

.page_404__link_404 {
    font-family: 'Cruinn', sans-serif;
    color: #fff;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    text-decoration: none;
    border-radius: 5px;
    padding: 20px 40px;
}

/* .page_404__contant_box_404 {} */
