$font-family-primary: 'Cruinn', sans-serif;
$color-button-primary: #ffe145;
$color-text: #000;
$color-white: #fff;
$color-black: #000;
$color-button-blue: rgb(119, 139, 228);
$color-button-blue-active: rgb(161, 119, 228);
$color-button-gray: #9093a6;
$transition-default: 0.3s ease;
$border-radius-small: 4px;
$border-radius-medium: 7px;
$border-radius-large: 25px;

$shadow: 0px 2px 20px 0px rgb(99 99 99 / 20%);
$gray-text: #7c8491;
$pink-button: rgb(228 119 152);
$hover-orange: rgb(233 169 86);