.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    justify-items: center;
    flex-wrap: wrap;
    font-family: Cruinn, sans-serif;
    gap: 20px;
    border-top: 1px solid #d4d7e5;
    box-sizing: border-box;
    background-color: #fff;
}

.footer__creator {
    display: flex;
    gap: 10px;
}

.footer__creator_text {
    margin: 0;
    padding: 0;
    color: #2c2c2c;
    font-size: 12px;
    font-family: Cruinn, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.footer__link {
    text-decoration: none;
    color: #2c2c2c;
}

.footer__hover:hover {
    font-weight: 500;
    color: #969696;
}

@media screen and (min-width: 320px) {
    .footer {
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    .footer {
        justify-content: space-between;
        padding: 30px 58px;
    }
}
