.button {
  outline: none;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  background-color: inherit;
  transition: 0.3s ease;
  padding: 0;
  margin: 0;
  color: #000;
  text-align: center;
  opacity: 1;
}

.button:hover {
  opacity: 0.8;
}

.button_type_menu-open {
  width: 48px;
  height: 48px;
  background: url('../../images/menu-open.svg') center no-repeat;
  border-radius: 5px;
  /* Base shadow */
  /* box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.08); */
}

.button_type_start {
  /* width: 216px; */
  width: 100%;
  height: 67px;
  padding: 16px 24px;
  border-radius: 4px;
  border: 2px solid #ffe145;

  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0.5px;
}

.button_type_signout {
  background-color: rgb(0, 0, 0);
  padding: 8px 16px;
  border-radius: 7px;

  font-size: 14px;
  color: white;
  margin-left: 14px;
}

.button_type_login {
  background-color: #9093A6;
  display: inline-flex;
  height: 50px;
  padding: 16px 24px;
  margin-top: 20px;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.5px;
}

.button_type-addtocart {
  width: 20px;
  height: 20px;
}

.recipe__button {
  background-color: rgb(119, 139, 228);
  padding: 10px;
  border-radius: 7px;
  width: 130px;
  font-size: 14px;
  color: white;
}

@media screen and (min-width: 720px) {
  .button_type_start {
    width: 216px;
    padding: 16px 24px;
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) {
  .button_type_signout {
    position: absolute;
    right: 50%;
    bottom: 30px;
    transform: translateX(50%);
    width: calc(100% - 70px);
  }
}
