.form {
    align-items: center;

    /* justify-content: center; */

    /* text-align: center; */
    margin-top: 50px;
    gap: 10px;
    padding: 10px;

    &__box {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 0;
        border: 0;
        min-width: 280px;
        gap: 10px;

        @media (min-width: 590px) {
            gap: 15px;
        }
    }

    &__title {
        margin: 0;
        padding: 0 0 20px;
        font-family: Cruinn, sans-serif;
        font-weight: 500;
        font-size: 30px;
        text-align: center;
    }

    &__box_inner {
        height: 80px;
        margin: 0;
        font-family: Cruinn, sans-serif;
        font-weight: 300;
    }

    &__input {
        max-width: 350px;
        font-family: Cruinn, sans-serif;
    }
}
