.form {
  /* width: 100%; */
  align-items: center;
  /* justify-content: center; */
  /* text-align: center; */
  margin-top: 50px;
  gap: 10px;
  padding: 10px;
}

.form__box {
  gap: 10px;
  border: 0;
  min-width: 280px;
  padding: 0;
  margin: 0 auto;
}

.form__title {
  font-weight: 500;
  font-size: 30px;
  margin: 0;
  padding: 0 0 20px;
}

.form__box_inner {
  height: 80px;
  margin: 0;
}
/* ограничила макс. ширину импута, чтобы не растягивался по всему контейнеру */
.form__input {
  max-width: 350px;
}

@media screen and (min-width: 590px) {
  .form__box {
    gap: 15px;
  }
}
